body {
  margin: 30px;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
  background: green;
}

th,td {
	padding: 10px;
	align: center;
}

#content {
  margin: 80px 70px;
  text-align: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.dragCheckBox{;}

.mylabel {
  margin: 20px;
  /*width: 20px;*/
  text-align: center;
  padding: 5px;
  padding-bottom: 0px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.cardSlot {
    float: left;
    width: 100px;
    height: 80px;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 0;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	margin: 0 0 0 10px;
	background: #ddf;
}

.droppable {
    float: left; 
    /* margin-left: 100px; */
	margin: 20px;
    width: 100px;
    height: 50px;
    /* border: 1px solid red; */
	padding: 5px;
}

    .card {
      width: 100px;
      height: 50px;
      background: white;
      text-align: center;
      line-height: 50px;
    }
    .ui-draggable-dragging {
      background: red;
    }

    .hoverClass {
      border: 2px solid red;
    }


