{% extends 'admin/gg_master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<div class="jumbotron">
  <h1>Hello {{current_user.email}}, welcome back to Graphgames!</h1>
  <p>If you want to know more about our platform or need help, please download our
        manual:
        <a href="{{
           url_for('static', filename='GraphGames_user_manual.pdf', _external=True)
        }}">Graphgames_User_Manual.pdf</a></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Please, choose any game to play:</h3>
  </div>
  <div class="panel-body">
      <div class="list-group">
          {% for game in games %}
          <h4>
          <a href="{{ url_for('admin.play_game', game_id=game) }}" class="list-group-item">
              <b>{{ games[game]}}</b>
          </a>
          </h4>
          {% endfor %}
        </div>
  </div>
</div>

{% else %}

<div class="jumbotron">
  <h1>Hello, Stranger!</h1>
  <!-- <p><p>Please <a href="{{ url_for('security.login') }}">Login</a> or <a
        href="{{ url_for('security.register') }}">Register</a> to play our games.</p>
        <p>
        -->
  <p>Please <a href="{{ url_for('security.login') }}">Login</a> or <a
        href="">Register</a> to play our games.
    <p class="text-warning">Sorry, registering has been temporary disabled due to an ongoing
    experiment. It will be restored on august, 31.</p>
    </p>

  <p>If you want to know more about our platform or need help, please download our
        manual:
        <a href="{{
           url_for('static', filename='GraphGames_user_manual.pdf', _external=True)
        }}">Graphgames_User_Manual.pdf</a></p>
</div>

{% endif %}

{% endblock %}

