{% extends 'admin/gg_master.html' %}

{% block body %}
<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading"><h1>Top 10 player statistics:</h1></div>

    <table id="stats_table" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Login</th>
                <th>Sid</th>
                <th>Gid</th>
                <th>Score</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stats %}
            <tr>
                <td>{{item['user_login']}}</td>
                <td>{{item['sid']}}</td>
                <td>{{item['gid']}}</td>
                <td><span class="badge">{{item['score']}}</span></td>
                <td><span class="badge">{{item['time'].total_seconds()}}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}