{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Graphgames - Main Admin Panel{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Main Admin Panel</h1>
</div>
<div>
    <h3><p>Change user's administrative privileges.</p>
        <p>Standard users ('Users') can just play games,
            while administrators ('Administrators') can do more:
        <ul>
            <li><a href="{{ url_for('main.config')}}">Manage game configurations</a></li>
            <li><a href="{{ url_for('main.user_admin')}}">Manage user's privileges</a></li>
            <li><a href="{{ url_for('main.session_admin')}}">Manage game sessions</a></li>
        </ul>
        </p></h3>
</div>
{% endblock %}
