{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Graphgames - Game Session Moves{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Game Session Moves</h1>
</div>
<div>
    <h3><p>Stored moves for game session ID: {{sid}} , user: {{current_user.username}}</p>
</div>
<div>
    <h3>
        <p>
            {% if data==None %}
            Sorry, you have not played yet. No records available.
            {% else %}
        <table class="table table-hover table-sm table-striped" style="width:90%">
            <tr>
                <th>#ID</th>
                <th>Move</th>
                <th>Play role</th>
                <th>Timestamp</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.mv}}
                </td>
                <td>
                    {{item.play_role}}
                </td>
                <td>
                    {{item.ts}}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}
        </p></h3>
</div>
<div>
    <a href="{{url_for('main.download', sid=sid) }}" class="btn-primary btn-lg">Download All</a>
    (Human readable, CSV format)
</div>

{% endblock %}

