{% extends "base.html" %}

{% block title %}Graphgames User Profile{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>User: {{ current_user.email }}</h1>

    {% if current_user.is_administrator() %}
    <p>This user has administrative privileges.</p>
    {% endif %}
    <p><a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a></p>

    <p>
        Member since {{ moment(current_user.member_since).format('L') }}.
        Last seen {{ moment(current_user.last_login_at).fromNow() }}.
        Last seen from IP: {{current_user.last_login_ip}}.
    </p>
</div>
{% endblock %}
