{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Graphgames - Admin Panel User Privileges Management{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Admin Panel - User Privileges Management</h1>
</div>
<div>
    <h3>
        <div><p>Basic ('User') or administrative ('Administrator') privileges can be grant or
            revoked to any system user.</p>
        </div>
    </h3>
</div>
<div class="col-md-4">
    {{wtf.quick_form(form) }}
</div>
{% endblock %}
