body {
	margin: 30px;
	font-family: "Georgia", serif;
	line-height: 1.8em;
	color: #333;
	background: green;
}

th,td {
	padding: 10px;
	align: center;
}

#content {
	margin: 80px 70px;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.dragCheckBox{;}

.mylabel {
	margin: 20px;
	/*width: 20px;*/
	text-align: center;
	padding: 5px;
	padding-bottom: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.cardSlot {
    margin: 0, auto;
	background: #ddf;
    float: left;
    width: 100px;
    height: 120px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	display: table;
	/* margin: 0 0 0 10px; */
}

.droppable {
    float: left; 
    /* margin-left: 100px; */
	margin: 20px;
    width: 90px;
    height: 120px;
    /* border: 1px solid red; */
	padding: 5px;
}

.card {
	width: 90px;
	height: 120px;
	background: white;
	text-align: center;
	line-height: 50px;
}

.card-img {
	height: 120px;
	width: 90px;
}

.ui-draggable-dragging {
	background: red;
}

.hoverClass {
	border: 2px solid red;
}

.neutral-cell {
    background: #ddf;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
